/*Lectors*/
.lector_box.lector1 {
     background-image: url(../img/lectors/lector1.jpg);
}

/*Gallery*/
#img1 {
    background-image: url(../img/gallery/miniImg/img1.jpg);
}
#img2 {
    background-image: url(../img/gallery/miniImg/img2.jpg);
}
#img3 {
    background-image: url(../img/gallery/miniImg/img3.jpg);
}
#img4 {
    background-image: url(../img/gallery/miniImg/img4.jpg);
}
#img5 {
    background-image: url(../img/gallery/miniImg/img5.jpg);
}
#img6 {
    background-image: url(../img/gallery/miniImg/img6.jpg);
}
#img7 {
    background-image: url(../img/gallery/miniImg/img7.jpg);
}
#img8 {
    background-image: url(../img/gallery/miniImg/img8.jpg);
}
#img9 {
    background-image: url(../img/gallery/miniImg/img9.jpg);
}
#img10 {
    background-image: url(../img/gallery/miniImg/img10.jpg);
}
#img11 {
    background-image: url(../img/gallery/miniImg/img11.jpg);
}
#img12 {
    background-image: url(../img/gallery/miniImg/img12.jpg);
}
#img13 {
    background-image: url(../img/gallery/miniImg/img13.jpg);
}
#img14 {
    background-image: url(../img/gallery/miniImg/img14.jpg);
}
#img15 {
    background-image: url(../img/gallery/miniImg/img15.jpg);
}
#img16 {
    background-image: url(../img/gallery/miniImg/img16.jpg);
}
#img17 {
    background-image: url(../img/gallery/miniImg/img17.jpg);
}
#img18 {
    background-image: url(../img/gallery/miniImg/img18.jpg);
}
#img19 {
    background-image: url(../img/gallery/miniImg/img19.jpg);
}
#img20 {
    background-image: url(../img/gallery/miniImg/img20.jpg);
}

/*Baner*/

#cell_1 {
    background-image: url("../img/baner/megafon.jpg");
    background-position: 50% 0%;
}
#cell_2 {
    background-image: url("../img/baner/kids.jpg");
    background-position: 50% 10%;
}
#cell_3 {
    background-image: url("../img/baner/exam.jpg");
    background-position: 50% 35%;
}
#cell_4 {
    background-image: url("../img/baner/business.jpg");
    background-position: 50% 10%; 
}
#cell_5 {
    background-image: url("../img/baner/happykids.jpg");
}
#cell_6 {
    background-image: url("../img/baner/happykids.jpg");
}
#cell_7 {
    background-image: url("../img/baner/happykids.jpg");
}
#cell_8 {
    background-image: url("../img/baner/happykids.jpg");
}
#cell_9 {
    background-image: url("../img/baner/happykids.jpg");
}