body {
    margin: 0;
    background: rgb(221, 219, 219);
    font-family: 'Montserrat', sans-serif;
}

body > nav, body > article, body > footer {
    width: 100%;
}

/*Navigation*/
nav > div {
    z-index: 100;
    border-bottom: 1px solid rgba(161, 158, 158, 0.801);
    background: rgb(248, 246, 246);
    text-align: center;
    width: 100%;
    top: 0px;
    transition: opacity 600ms ease, height 1s ease;
    -webkit-box-shadow: 0px -1px 88px 1px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px -1px 88px 1px rgba(0,0,0,0.32);
    box-shadow: 0px -1px 88px 1px rgba(0,0,0,0.32);
}

@media all and (max-width: 400px) {
    body {
        width: 400px;
    }
    nav > div {
        width: 400px;
    }
}

nav > div > div {
    display: inline-block;
    vertical-align: top;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}

.logo {
    background-image: url("../img/logo.png");
    width: 360px;
    height: 90px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left;
    position: relative;
}

.logo > a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.logo::after {
    content: "Szkoła języków obcych";
    position: absolute;
    right: 0px;
    top: 50%;
    font-size: 22px;
    transform: translateY(-50%);
    font-family: 'Ubuntu', sans-serif;
    z-index: 0;
}

.logo::before {
    content: "";
    position: absolute;
    height: 65%;
    width: 1px;
    left: 110px;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(97, 93, 93, 0.949);
}

@media all and (max-width: 673px) {
    .logo::after {
        content: "";
    } 
    .logo::before {
        width: 0px;
    }   
    .logo {
        width: 90px;
        height: 90px;
    }
}

.list_box {
    margin-left: 150px;
}

.list_box > ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
	height: 40px;
	line-height: 235%;
	font-size: 18px;
    display: inline-block;
    background: rgb(248, 246, 246);
    transform: translateY(15%);
}

.list_box > ol > li > a, ol > li > ul > li > a {
    color: rgb(53, 53, 53);
	cursor: pointer;
	text-decoration: none;
    display: block;
    transition: all 300ms ease;
    border-bottom: 0px solid rgba(255, 0, 0, 0);
}

.list_box > ol > li {
	float: left;
	width: 110px;
    height: 45px;
    position: relative;
}

.list_box > ol > li::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 50%;
    width: 85%;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(255, 102, 0);
    opacity: 0;
    transition: bottom 300ms ease, opacity 200ms ease;
}

.list_box > ol > li:hover::after { 
    bottom: 15%;
    opacity: 1;
}
.list_box > ol > li:hover > a, ol > li > ul > li:hover > a {
    color: rgba(102, 101, 101, 0.897);
}

.list_box > ol > li > ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	visibility: hidden;
    padding-top: 5px;
    opacity: 0;
    transform: translateX(-40px);
    transition: opacity 300ms ease;
}

.list_box > ol > li:hover > ul {
    visibility: visible;
    opacity: 1;
}

.list_box > ol > li > ul > li {
    text-align: center;
    z-index: 100;
    font-size: 17px;
    line-height: 20px;
    background: rgba(248, 246, 246, 1);
    padding: 10px;
    border: 1px solid gray;
    border-top: 0px solid black;
    transform: translateY(0px);
    width: 160px;
}

.list_box > ol > li > ul > li:last-child {
    font-size: 14px;
}

.list_box > ol > li > ul > li:hover > a {
    border-bottom: 3px solid rgba(255, 0, 0, 0);
}

/*phone global*/
.phone_global_box {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background: rgb(231, 229, 229);
    z-index: 20;
    text-align: center;
    -webkit-box-shadow: 0px -1px 16px -2px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px -1px 16px -2px rgba(0,0,0,0.26);
    box-shadow: 0px -1px 16px -2px rgba(44, 43, 43, 0.26);
}

.phone_global_box > a {
    font-size: 25px;
    color: black;
    text-decoration: none;
    line-height: 50px;
}

@media all and (min-width: 470px) {
    .phone_global_box {
        display: none;
    }
}

/*Menu burger*/
.menu_burger_box {
    position: relative;
}

.menu_burger_box > ol {
    text-decoration: none;
    list-style:  none;
    margin-top: 14vh;
}

.menu_burger_box > ol > li {
    padding: 5px;
    margin: 20px 0px;
}

.menu_burger_box > ol > li > a {
    text-decoration: none;
    color: rgba(221, 216, 216, 0.822);
    font-size: 25px;
}

.menu_burger_box > ol > li > a:hover {
    color: rgb(221, 216, 216);
}

/*Burger*/
.burger {
    width: 60px;
    height: 50px;
    display: none;
    cursor: pointer;
    border-radius: 3px;
}

.burger::before, .burger::after {
    content: "";
    display: block;
    position: absolute;
    background:  rgb(32, 92, 163);
    width: 60px;
    height: 6px;
    border-radius: 3px;
    transition: all 100ms ease;
}

.burger::before {
    top: 50%;
    transform: translateY(-50%);
    -webkit-box-shadow: 0px -11px 0px 0px rgb(32, 92, 163);
    -moz-box-shadow: 0px -11px 0px 0px rgb(32, 92, 163);
    box-shadow: 0px -11px 0px 0px rgb(32, 92, 163);
}

.burger::after {
    bottom: 12px;
}

.burger:hover::after {
    bottom: 7px;
}

.burger:hover::before {
    -webkit-box-shadow: 0px -16px 0px 0px rgb(32, 92, 163);
    -moz-box-shadow: 0px -16px 0px 0px rgb(32, 92, 163);
    box-shadow: 0px -16px 0px 0px rgb(32, 92, 163);
}

nav > div > .join {
    display: none;
    margin: 0px 20px;
    font-size: 30px;
}

.join > a {
    text-decoration: none;
    color: rgba(245, 112, 23, 0.952);
}
@media all and (max-width: 1193px) {
    .list_box {
        margin-left: 35px;
    }
}

@media all and (max-width: 1132px) {
    .burger {
        display: inline-block;
    }
    .list_box {
        display: none;
    }
    nav > div > .join {
        display: inline-block;
    }
}

.burger_box_background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    z-index: 1000;
    background: rgba(15, 15, 15, 0.933);
    transition: all 2000ms ease;
}

.menu_burger_box {
    position: fixed;
    z-index: 1001;
    right: 0px;
    top: 0px;
    width: 65%;
    height: 100%;
    background: rgb(216, 99, 21);
    transform: translateX(100%);
    transition: all 500ms ease;
}

.menu_burger_box > .cross::before, .menu_burger_box > .cross::after {
    background: white;
}

/*Slider*/
.main_slider {
    width: 100%;
    height: 800px;
    position: relative;
    z-index: 99;
    overflow: hidden;
}

@media all and (max-height: 800px) {
    .main_slider {
        height: 100vh;
    }
}

.main_slider > span, .main_slider > .join {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}

.main_slider > span {
    z-index: 5;
    bottom: 120px;
    font-size: 36px;
    padding: 12px 34px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Muli', sans-serif;
    text-shadow: 0px 0px 24px rgba(2, 22, 19, 0.64);
    width: 80%;
}

.main_slider > span > h2 {
    font-size: 35px;
    margin: 0px;
    padding: 0px;
}

.main_slider > span > h3 {
    font-size: 110px;
    margin: 0px;
    padding: 0px;
    color: white;
}

@media all and (max-width: 600px) {
    .main_slider > span {
        width: 90%;
        height: auto;
        padding: 10px 0px;
    }
}

input[type="submit"], .main_slider > .join {
    font-size: 20px;
    text-align: center;
    background: rgb(20, 153, 234);
    border-radius: 3px;
    bottom: 40px;
    border: 1px solid rgba(83, 83, 83, 0.619);
    cursor: pointer;
    padding: 10px 40px;
    z-index: 2;
    opacity: 0.95;
    color: rgba(255, 255, 255, 0.888);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    transition: 300ms ease;
    -webkit-box-shadow: 1px 1px 12px -2px rgba(0,0,0,0.6);
    -moz-box-shadow: 1px 1px 12px -2px rgba(0,0,0,0.6);
    box-shadow: 1px 1px 12px -2px rgba(0,0,0,0.6);
    text-decoration: none;
    overflow: hidden;
    min-width: 126px;
}

.main_slider > .join > span {
    transform: translateX(0%);
    position: relative;
    display: block;
    transition: 400ms ease;
}

.main_slider > .join:hover > span {
    transform: translateX(200%);
}

.main_slider > .join:hover {
    opacity: 1;
}

.main_slider > .join:hover::before {
    transform: translate(-50%, -50%);
    opacity: 1;
}

.main_slider > .join::before {
    position: absolute;
    content: "i zapisz się!";
    width: 90%;
    padding: 2px;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-200%, -50%);
    background-color: rgb(20, 153, 234);
    line-height: 20px;
    font-size: 20px;
    transition: 570ms ease;
    opacity: 0;
}

.scene {
    width: 120%;
    height: 120%;
    position: relative;
    perspective: 1000px;
    transform: translate(-5%, -10%);
}
  
.carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 3s ease;
}
  
.cell {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 10px;
    top: 10px;
    font-size: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.scene_resizing, .slider_filter {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    z-index: 1;
    background: rgb(42, 33, 53);
    transition: all 150ms ease;
    color: white;
    font-size: 22px;
}

.slider_filter {
    background-color: rgb(27, 27, 27);
    opacity: 0.3;
    transition: all 2s ease;
}

.slider_filter:hover {

    opacity: 0.05;
}

.scene_resizing > span, .scene_resizing > img {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
}
.scene_resizing > span {
    top: 63%;
}
.scene_resizing > img {
    animation-iteration-count: infinite;
    animation-name: loading;
    animation-duration: 1.5s;
    animation-timing-function: linear;
}

@keyframes loading {
    from {transform: translate(-50%,-50%) rotate(0deg);}
    to {transform: translate(-50%,-50%) rotate(360deg);}
}

/*About us*/
.slide_href {
    position: relative;
    transform: translateY(-70px);
    height: 0px !important;
    width: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
}

.about_us {
    text-align: center;
}

.introduce {
    padding-top: 150px;
    padding-bottom: 150px;
}

.about_us_text {
    width: 30%;
    max-width: 400px;
    min-width: 200px;
    margin-left: 5vw;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
}

.about_us > section > .introduce > img {
    display: inline-block;
    vertical-align: top;
}

@media all and (max-width: 672px) {
    .about_us_text {
        margin-top: 20px;
        margin-left: 0px;
        width: 100%;
    }
    .about_us > section > .introduce {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}

@media all and (max-width: 400px) {
    .about_us_text {
        width: 90%;
    }
    .about_us > section > .introduce {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .about_us > .introduce > img {
        width: 300px;
    }
}

.lectors {
    padding-top: 80px;
    padding-bottom: 140px;
    width: 100%;
}

.lectors > div {
    margin: 0 auto;
    width: 900px;
    text-align: center;
}

@media all and (max-width: 900px) {
    .lectors > div {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .lectors {
        padding-top: 20px;
        padding-bottom: 50px;
    }
}

.lector_box {
    display: inline-block;
    margin: 10px;
    width: 265px;
    height: 362px;
    background: rgba(31, 51, 88, 0.295);
    background-size: cover;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 2px 2px 0px rgba(0, 36, 62, 0.136);
}

.lector_box > h2, .lector_box > div, .lector_box > h3 {
    position: absolute;
    transition: all 200ms ease;
    width: 100%;
}

.lector_box > h2 {
    font-size: 28px;
    padding: 0px;
    top: 264px;
}

.lector_box.lector2 > h2 {
    font-size: 24px;
}

.lector_box > h3 {
    top: 280px;
    left: 0px;
    font-size: 16px;
}

.lector_box:hover > h2, .lector_box:hover > h3 {
    transform: translateX(5px);
}

.lector_box > div {
    text-align: right;
    top: 30px;
    right: 20px;
    transform: translateX(150%);
    width: 90%;
    height: 150px;
    transition: all 400ms ease;
    font-size: 14px;
}

.lector_box::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    background: rgb(32, 92, 163);
    transition: all 300ms ease;
}

.lector_box:hover::before {
    opacity: 0.4;
}

.lector_box:hover > div {
    transform: translateX(0%);
}

/*Offer*/
.offer {
    background: rgb(58, 58, 58);
}

h2 {
    font-size: 60px;
    padding-top: 70px;
    padding-bottom: 20px; 
    text-align: center;
    margin: 0px;
    text-shadow: 0px 0px 3px rgba(50, 50, 50, 0.38);
}

.offer > h2 {
    color: white;
}

.offer > section > .offer_shadow {
    box-shadow: 0 15px 45px -15px rgba(51, 51, 51, 0.24)
}

.offer > section > div > div {
    width: 1000px;
    text-align: center;
    margin: 0 auto;
}

@media all and (max-width: 1000px) {
    .offer > section > div > div {
        width: 90%;
    }
    h2 {
        padding: 30px;
    }
}

.top_offer {
    padding-bottom: 50px;
}

.bottom_offer_container {
    background: rgb(49, 49, 49);
}

.bottom_offer {
    padding: 80px 0px;
}

.circle {
    display: inline-block;
    vertical-align: top;
    width: 280px;
    margin: 25px;
}

.circle > div:first-child {
    width: 200px;
    height: 200px;
    background: gray;
    border: 4px solid white;
    border-radius: 130px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.circle > div:last-child {
    text-align: center;
    font-size: 15px;
    width: 100%;
    margin-top: 15px;
}

.circle > div > h3 {
    text-align: center;
    font-size: 22px;
    padding-bottom: 0px;
    margin: 0px;
}

.circle > div:last-child > h3 {
    font-size: 19px;
}

.offer > section > div > div > .circle {
    color: rgba(255, 255, 255, 0.326);
}

.offer > section > div > div > .circle > div > h3 {
    color: rgba(255, 255, 255, 0.836);
}

.circle > div:last-child.gamification {
    font-size: 14px;
}

/*How we learging*/
.how_we_learning > h2 {
    color: rgb(26, 24, 24);
}

.how_we_learning_box {
    padding: 50px 0px;
    padding-bottom: 100px; 
    margin: 0 auto;
    width: 1000px;
    text-align: center;
}

@media all and (max-width: 1000px) {
    .how_we_learning_box {
        width: 95%;
        padding: 20px 0px;
    }
}

.quotation {
    text-align: center;
    font-size: 22px;
    border-radius: 1px;
    border: 14px solid rgb(255, 102, 0);
    display: inline-block;
    background: rgba(236, 234, 234, 0.596);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin:  50px 0px;
}

.quotation::before, .quotation::after {
    content: "";
    position: absolute;
    background: rgb(221, 219, 219);
    width: 80%;
    height: 14px;
    transform: translateX(-50%);
    left: 50%;
}

.quotation::before {
    top: -14px;
}

.quotation::before {
    bottom: -14px;
}

.quotation > span {
    padding: 50px;
    display: inline-block;
}

.quotation > span::before {
    content: "„ ";
    font-size: 80px;
}

.quotation > span::after {
    content: " ”";
    font-size: 50px;
}

.quotation > h4 {
    padding: 5px;
    padding-bottom: 10px;
    margin-top: 0px;
}

.quotation > h4::before, .quotation > h4::after { 
    content: "";
    position: relative;
    margin: 0px 25px;
    transform: translateY(-500%);
    width: 20%;
    height: 1px;
    background: rgba(0, 0, 0, 0.459);
    display: inline-block;
}
@media all and (max-width: 800px) {
    .quotation {
        width: 80%;
    }
    .quotation > span {
        width: 90%;
        padding: 0px;
    }
}
@media all and (max-width: 500px) {
    .quotation > h4::before, .quotation > h4::after {
        width: 10%;
    }
    .quotation > span::before, .quotation > span::after {
        display: block;
    }
}
/*Price list*/
.price_list {
    background-image: url(../img/price_list_background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 0px 35%;
}

.price_list > div {
    background-color: rgba(255, 102, 0, 0.904);
}

.price_list > div > div {
    width: 1030px;
    text-align: center; 
    margin: 0 auto;
    padding-top: 50px; 
    padding-bottom: 70px;
}

@media all and (max-width: 1030px) {
    .price_list > div > div {
        width: 95%;        
    }
}

.price_list_box {
    width: 300px;
    height: 550px;
    border-radius: 10px;
    border: 1px solid rgba(224, 221, 221, 0.63);
    display: inline-block;
    vertical-align: top;
    background: rgba(141, 138, 138, 0.671);
    margin: 10px 10px;
    position: relative;
    -webkit-box-shadow: 0px 2px 33px -2px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 2px 33px -2px rgba(0,0,0,0.59);
    box-shadow: 0px 2px 33px -2px rgba(0,0,0,0.59);
    cursor: pointer;
}

.price_list_box.children > div {
    border-top: 1px solid rgba(240, 240, 240, 0.842);
}

.price_list_box > div:first-child {
    border-top: 0px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: rgb(41, 98, 166); 
}

.price_list_box.children > div:first-child > span {
    background-color: rgba(59, 117, 189, 0.788); 
}

.price_list_box > div:last-child {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: rgb(41, 98, 166); 
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.price_list_box.children > div:last-child > h2 {
    padding: 10px 0px;
}

.price_list_box.children > div:first-child > h2 {
    border-bottom: 1px solid rgba(128, 128, 128, 0.329);
}
.price_list_box.children > div:last-child > span:last-child {
    padding-bottom: 15px;
    padding-top: 0px;
}

.price_list_box > div > h2 {
    padding: 20px 0px;
    font-size: 27px;
    box-shadow: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #e2e2e2e3;
}

.price_list_box.children > div > span {
    display: block;
    padding: 7px;
    color: rgba(214, 210, 210, 0.87);
}

span.discount {
    color: rgba(6, 233, 6, 0.822);
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

span.weakly {
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.price_list_box.children > div > span:last-child {
    display: block;
    padding-top: 3px;
    padding-bottom: 30px;
}

.price_list_box.children > div:first-child > .price_description {
    font-size: 14px;
    padding-bottom: 10px;
}

.price_list_box.adults > div:nth-child(2) {
    padding: 30px 5px;
    border-top: 1px solid rgb(224, 221, 221);
}

.price_list_box.adults > div:nth-child(3) {
    border-top: 1px solid rgb(224, 221, 221);
}

.price_list_box.adults > div:nth-child(2) > span,
.price_list_box.adults > div:nth-child(3) > span {
    display: block;
    padding: 7px 0px;
    color: rgba(245, 241, 241, 0.911);
}

.price_list_box.adults > div:nth-child(3) > span {
    padding: 3px 0px;
}

.price_list_box.adults > div:nth-child(3) > span:first-child {
    font-weight: 600;
    padding: 11px 0px;
}

.price_list_box.adults > div:nth-child(3) > span:nth-child(2) {
    font-size: 14px; 
    padding-top: 0px; 
    padding-bottom: 10px
}

.price_list_box.adults > div:nth-child(3) > span:last-child {
    padding-bottom: 16px;
}

/*Gallery*/
.gallery {
    padding-bottom: 250px;
}

.gallery > div {
    width: 1000px;
    margin: 0 auto;
    padding: 80px 0px;
    text-align: center;
}

@media all and (max-width: 1000px) {
    .gallery > div {
        width: 95%;
        padding: 10px 0px;
    }
    .gallery {
        padding-bottom: 150px;
    }
}

.img_mini_box {
    width: 230px;
    height: 230px;
    background: rgba(165, 162, 162, 0.808);
    border: 1px solid rgba(0, 0, 0, 0.582);
    border-radius: 1px;
    margin: 1px;
    display: inline-block;
    cursor: zoom-in;
    opacity: 0.84;
    transition: all 350ms ease;
}

.img_mini_box:hover {
    opacity: 1;
}

.img_big_box {
    z-index: 10000;
    width: 100% !important;
    height: 100%;
    background: rgba(0, 0, 0, 0.942);
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
}

.cross {
    position: absolute;
    right: 3vw;
    top: 3vw;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: rotate(0deg);
    z-index: 2;
}

.cross::before, .cross::after {
    content: "";
    position: absolute;
    display: block;
    background: rgba(201, 7, 7, 0.877);
    width: 5px;
    height: 100%;
    border-radius: 2px;
    opacity: 0.9;
    transition: 300ms ease;
}

.cross::before {
    transform: rotate(45deg);
}

 .cross::after {
    transform: rotate(-45deg);
}

.cross:hover::before {
    transform: rotate(55deg);
}

.cross:hover::after {
    transform: rotate(-55deg);
}

@media all and (max-width: 520px) {
    .gallery > div {
        width: 100%;
    }
    .img_mini_box {
        width: 45vw;
        height: 45vw;
    }
}

.img_big_box > .next, .img_big_box > .previous {
    position: absolute;
    bottom: 46%;
    transform: translateY(-50%);
    width: 70px;
    height: 70px;
    cursor: pointer;
    z-index: 2;
}

.img_big_box > .next {
    right: 15vw;
}

.img_big_box > .previous {
    left: 15vw;
    transform: translate(-20%,-50%);
}

.img_big_box > .next::after, .img_big_box > .next::before,
.img_big_box > .previous::after, .img_big_box > .previous::before {
    content: "";
    display: block;
    position: absolute;
    width: 70%;
    height: 5px;
    background: white;
    border-radius: 3px;
    top: 50%;
    left: 50%;
    transition: 300ms ease;
}

.img_big_box > .next::after {
    transform: rotate(45deg) translate(-48%, -48%);
}

.img_big_box > .next::before {
    transform: rotate(-45deg) translate(-42%, -30%);
}

.img_big_box > .previous::after {
    transform: rotate(45deg) translate(-10%, 478%);
} 

.img_big_box > .previous::before {
    transform: rotate(-45deg) translate(-3%, -550%);
}

/*next prev hover*/
.img_big_box > .next:hover::after {
    transform: rotate(55deg) translate(-51%, -48%);
}

.img_big_box > .next:hover::before {
    transform: rotate(-55deg) translate(-42%, -30%);
}

.img_big_box > .previous:hover::after {
    transform: rotate(55deg) translate(5%, 480%);
} 

.img_big_box > .previous:hover::before {
    transform: rotate(-55deg) translate(13%, -550%);
}

@media all and (max-width: 1850px) {
    .img_big_box > .next {
        right: 13vw;
    }
    
    .img_big_box > .previous {
        left: 13vw;
    }
}
@media all and (max-width: 1900px) {
    .img_big_box > .next {
        right: 10vw;
    }
    
    .img_big_box > .previous {
        left: 10vw;
    }
}
@media all and (max-width: 1660px) {
    .img_big_box > .next {
        right: 8vw;
    }
    
    .img_big_box > .previous {
        left: 8vw;
    }
}
@media all and (max-width: 1585px) {
    .img_big_box > .next {
        right: 5vw;
    }
    
    .img_big_box > .previous {
        left: 5vw;
    }
}
@media all and (max-width: 1490px) {
    .img_big_box > .next {
        right: 3vw;
    }
    
    .img_big_box > .previous {
        left: 3vw;
    }
}
@media all and (max-width: 1417px) {
    .img_big_box > .next {
        right: 2vw;
    }
    
    .img_big_box > .previous {
        left: 2vw;
    }
}
@media all and (max-width: 1387px) {
    .img_big_box > .next {
        right: 0.5vw;
    }
    
    .img_big_box > .previous {
        left: 0.5vw;
    }
}

.img_big_box > img {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 500ms ease;
    border: 5px solid rgba(255, 255, 255, 0.908);
    border-radius: 3px;
    max-width: 1200px;
    max-height: 80vh;
    z-index: 1;
}
@media all and (max-width: 1200px) {
    .img_big_box > img {
        max-width: 95%;
    }   
}
img {
    image-orientation: from-image;
}

/*Footer*/
footer > div {
    border-top: 2px solid rgb(208, 86, 14);
    color: white;
    -webkit-box-shadow: 0px 13px 92px 8px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 13px 92px 8px rgba(0,0,0,0.55);
    box-shadow: 0px 13px 92px 8px rgba(0,0,0,0.55);
    position: relative;
    transform: translateY(-100%);
    height: 0px;
}

footer > div > div {
    width: 50%;
    height: 502px;
    float: left;
    min-width: 300px;
    background: rgba(249, 113, 22, 0.84);
    z-index: 2;
    opacity: 0.98;
}

footer > div > .date, footer > div > .form {
    position: absolute;
    border-bottom: 2px solid rgb(208, 86, 14);
}

footer > div > .form {
    right: 0px;
}

#map {
    width: 100%;
    height: 95vh;
    background-color: grey;
    -webkit-box-shadow: 0px 13px 92px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 13px 92px -1px rgba(0,0,0,0.2);
    box-shadow: 0px 13px 92px -1px rgba(0,0,0,0.2);
    z-index: 1;
}

#map::after {
    clear: both;
}

form {
    margin-top: 80px;
    margin-left: 80px;
}

.form {
    border-left: 2px solid rgb(208, 86, 14);
}

form > label {
    display: block;
}

form > input {
    margin-bottom: 10px;
}

#submit {
    display: block;
    margin: 20px 0px;
    height: 35px;
    border-radius: 3px;
    font-size: 18px;
    line-height: 15px;
    cursor: pointer;
    float: left;
}

input[type="email"], textarea {
    padding: 12px;
    border-radius: 4px;
    border: 1px solid rgb(208, 86, 14);
    font-size: 16px;
    width: 480px;
    transition: all 200ms ease;
}

input[type="email"]:focus, textarea:focus {
    background: rgb(253, 214, 191);
    outline: none;
}

@media all and (max-width: 1200px) {
    input[type="email"], textarea {
        width: 85%;
    }
}

textarea {
    height: 100px;
}

#dane_osobowe_check {
    float: left;
    display: block;
    margin-top: 17px;
    margin-left: 20px;
    width: 20px;
    height: 20px;
    transform: translateY(50%);
    cursor: pointer;
}

#dane_osobowe_check::after {
    content: "Wyrażam zgodę na przetwarzanie moich danych";
    position: relative;
    right: -24px;
    top: -40%;
    width: 140px;
    display: block;
    color: rgba(240, 235, 235, 0.938);
}

/*date*/
.date > div:first-child {
    margin-top: 60px;
}

.date > div {
    width: 65%;
    min-width: 290px;
    margin: 20px 10px;
    float: right;
}

.date > div > h2 {
    font-size: 20px;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

.phone > span > a {
    text-decoration: none;
    color: white;
}

@media all and (max-width: 770px) {
    .form {
        border-left: 0px;
    }
    footer > div > div { 
        width: 100%;
        height: auto;
        padding: 30px 0px;
    }
    .date > div {
        float: none;
        margin: 20px auto;
    }
    form {
        margin-top: 40px;
        margin: 0 auto;
        width: 70%;
    }
    label {
        width: 70vw;
        margin: 0px;
    }
    input[type="email"], textarea {
        width: 100%;
    }
    #dane_osobowe_check::after {
        width: 40vw;
    }
    .date > div:first-child {
        margin-top: 0px;
    }
    footer > div > .date, footer > div > .form {
        position: relative;
    }
}

/*media handle*/
.handle {
    opacity: 0.9;
    background-color: transparent !important;
    overflow: hidden;
    border-radius: 100%;
    border: 1px solid rgba(32, 32, 32, 0.829);
    width: 42px;
    height: 42px;
    background-position: center;
    background-size: cover;
    transform: rotate(0deg) translate(-105%, 0%) !important;
    transition: all 200ms ease;
    -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.3);
}
.handle:hover {
    transform: rotate(15deg) translate(-99%, 0%) !important;
    opacity: 1;
}

.media-tab {
    z-index: 1000 !important;
}

#my-tab-facebook > .handle {
    background-image: url('../img/fb_ico.png');
}

#my-tab-instagram > .handle {
    background-image: url('../img/insta_ico.png');
}
